.admin-barlist-wrapper{
  position: absolute;
  bottom: 0;
  top: 0;
  background-color: @header-color;
  overflow-y: scroll;
}
.admin-barlist-section{
  overflow-y: scroll;
  position: absolute;
  bottom: 0;
  top: 0;
}