<h1 class="common-section-header">Добавить бар</h1>
<div class="pure-g">
    <form class="pure-form pure-form-aligned pure-u-1 pure-u-sm-1-2">
        <fieldset>
            <div class="pure-control-group">
                <label for="name">Название бара (*)</label>
                <input id="name" type="text" placeholder="Название" ng-model="ctrl.data.name">
            </div>

            <div class="pure-controls">
                <label>&nbsp;</label>
                <button type="submit" class="pure-button button-primary" ng-click="ctrl.onAdd()" ng-disabled="ctrl.isAddDisabled()">Добавить</button>
            </div>
        </fieldset>
    </form>
    <div id="admin-map" class="pure-u-1 pure-u-sm-1-2"></div>
</div>
