@font-face {
  font-family: neonFont;
  src: url("/assets/NEON CLUB MUSIC_bold.otf") format("opentype");
}
* {
  font-family: 'helvetica', arial, sans-serif;
}
html,
body {
  height: 100%;
}
.common_logo {
  font-family: neonFont, 'helvetica', arial, sans-serif;
  color: #dcb656;
}
.common_logo.header {
  display: inline-block;
  font-size: 22px;
  padding: 10px;
}
a {
  text-decoration: none;
  color: #100f14;
}
h2 {
  margin: 0.4em 0;
  font-size: 1.5em;
}
body {
  background-color: #eaf5ff;
}
body > *[ui-view] > *[ui-view] {
  position: absolute;
  top: 68px;
  bottom: 0;
  left: 0;
  right: 0;
}
header {
  background-color: #3a3546;
  box-shadow: 0 4px 2px -2px #dcb656;
  z-index: 1;
  position: fixed;
  left: 0;
  right: 0;
}
header > * {
  vertical-align: middle;
  display: inline-block;
}
.common_header_item {
  margin: 0 1%;
  padding: 10px;
  color: #32b7d8;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.common_header_item * {
  color: #32b7d8;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.common_header_item:hover,
.common_header_item > *:hover {
  color: #5dc6e0;
}
*[ui-sref] {
  cursor: pointer;
}
*[ng-click] {
  cursor: pointer;
}
.center-block {
  margin: 0 auto;
  display: block;
}
.center-text {
  text-align: center;
}
.button-primary {
  background-color: #3a3546;
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.button-secondary {
  background-color: #3a3546;
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
/** PureCss customisation */
.pure-g {
  letter-spacing: normal;
}
.pure-form-stacked input {
  width: 100%;
}
.pure-button[disabled] {
  opacity: 0.7;
}
.control-button-dropdown {
  display: inline-block;
  position: relative;
  cursor: pointer;
  transition: none;
  padding: 10px 20px;
}
.control-button-dropdown .items {
  display: none;
  background-color: inherit;
}
.control-button-dropdown:hover {
  background-color: #464055;
}
.control-button-dropdown:hover .items {
  text-align: center;
  display: block;
  position: absolute;
  padding: 10px 10px 15px;
  left: 0;
  right: 0;
}
.admin-section {
  position: absolute;
  top: 68px;
  bottom: 0;
  left: 0;
  right: 0;
}
#admin-map {
  min-height: 300px;
  height: 100%;
  position: fixed;
}
.common-barlist-wrapper {
  background-color: #3a3546;
  color: #5dc6e0;
}
.common-barlist-wrapper .common-barlist-item {
  background-color: #464055;
  margin: 5px;
  position: relative;
}
.common-barlist-wrapper .common-barlist-item[disabled] {
  background-color: #221f29;
  pointer-events: none;
}
.common-barlist-wrapper .common-barlist-item > * {
  display: inline-block;
}
.common-barlist-wrapper .common-barlist-item .common-barlist-item-image {
  height: 0;
  width: 30%;
  padding-bottom: 30%;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #2e2a37;
}
.common-barlist-wrapper .common-barlist-item .common-barlist-item-description {
  width: 65%;
}
.common-barlist-wrapper .common-barlist-item .common-barlist-item-description .common-barlist-item-title {
  font-size: 140%;
}
.common-barlist-wrapper .common-barlist-item .common-barlist-item-description .common-barlist-item-evals {
  position: absolute;
  bottom: 0;
  left: 30%;
  right: 0;
}
.common-barlist-wrapper .common-barlist-item .common-barlist-item-description .common-barlist-item-eval {
  width: 24%;
  display: inline-block;
  font-size: 2em;
  text-align: center;
}
.common-bar-eval-gold i {
  color: gold;
}
.common-bar-eval-silver i {
  color: silver;
}
.common-barlist-add {
  padding: 10px 0;
  font-size: 350%;
  background-color: #524b63;
  transition: all 1s;
}
.common-barlist-add i {
  color: #44d350;
  transition: all 1s;
}
.common-barlist-add:hover {
  background-color: #97e79d;
}
.common-barlist-add:hover i {
  color: #524b63;
}
.common-barlist-add[disabled] {
  background-color: #221f29;
  pointer-events: none;
}
.admin-barlist-wrapper {
  position: absolute;
  bottom: 0;
  top: 0;
  background-color: #3a3546;
  overflow-y: scroll;
}
.admin-barlist-section {
  overflow-y: scroll;
  position: absolute;
  bottom: 0;
  top: 0;
}
.common-door-loginview input,
.common-door-loginview button {
  margin: 5px 0!important;
}
.common-door-loginview button {
  margin: 5px 10px!important;
}
