@font-face {
  font-family: neonFont;
  src: url("/assets/NEON CLUB MUSIC_bold.otf") format("opentype");
}
* {
  font-family: 'helvetica', arial, sans-serif;
  color: #3f3b4e;
}
.common_logo {
  font-family: neonFont, 'helvetica', arial, sans-serif;
  color: #dcb656;
}
.common_logo.header {
  display: inline-block;
  font-size: 22px;
  padding: 10px;
}
a {
  text-decoration: none;
  color: #100f14;
}
h2 {
  margin: 0.4em 0;
  font-size: 1.5em;
}
body {
  background-color: #eaf5ff;
}
header {
  background-color: #463a5f;
  box-shadow: 0 4px 2px -2px #dcb656;
}
header > * {
  vertical-align: middle;
  display: inline-block;
}
.common_header_item {
  margin: 0 1%;
  padding: 10px;
  color: #2f273f;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.common_header_item * {
  color: #2f273f;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.common_header_item:hover,
.common_header_item > *:hover {
  color: #463a5f;
}
*[ui-sref] {
  cursor: pointer;
}
.center-block {
  margin: 0 auto;
  display: block;
}
.center-text {
  text-align: center;
}
.button-primary {
  background-color: #463a5f;
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.button-secondary {
  background-color: #463a5f;
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
/** PureCss customisation */
.pure-g {
  letter-spacing: normal;
}
.pure-form-stacked input {
  width: 100%;
}
.pure-button[disabled] {
  opacity: 0.7;
}
.control-button-dropdown {
  display: inline-block;
  position: relative;
  cursor: pointer;
  transition: none;
  padding: 10px 20px;
}
.control-button-dropdown .items {
  display: none;
  background-color: inherit;
}
.control-button-dropdown:hover {
  background-color: #52446f;
}
.control-button-dropdown:hover .items {
  text-align: center;
  display: block;
  position: absolute;
  padding: 10px 10px 15px;
  left: 0;
  right: 0;
}
* {
  margin: 0;
  padding: 0;
}
.common-door-loginview input,
.common-door-loginview button {
  margin: 5px 0!important;
}
.common-door-loginview button {
  margin: 5px 10px!important;
}
