.control-button{

}
.control-button-dropdown{
    display: inline-block;
    position: relative;
    cursor: pointer;
    .title{

    }
    .items{
        display: none;
        background-color: aquamarine;
        .item{

        }
    }
    &:hover{
        .items{
            display: block;
            position: absolute;
            padding: 5px 10px 10px;
            //top: 0;
        }
    }
}