<h1>Пользователи</h1>
<table class="pure-table pure-table-horizontal">
    <thead>
    <tr>
        <th>#</th>
        <th>E-mail</th>
        <th>Name</th>
        <th>Permission level</th>
        <th>Description</th>
        <th>Photo</th>
    </tr>
    </thead>

    <tbody>
    <tr ng-repeat="user in ctrl.users | orderBy:'id'">
        <td>{{user.id}}</td>
        <td>{{user.email}}</td>
        <td>{{user.name}}</td>
        <td>{{user.permission_level}}</td>
        <td>{{user.description}}</td>
        <td>{{user.photo_url}}</td>
    </tr>
    </tbody>
</table>